<!doctype html>
<html lang="en">
  <head>
    <title>No Table</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" >
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css" >
    <link rel="stylesheet" href="bootstrap/css/cover.css" >
    <link rel="stylesheet" href="dimstar/css/styles.css" >
  </head>
  <body class="text-center">

          <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
              <div class="inner">
                <h3 class="masthead-brand">no table</h3>
                <nav id="nav" class="nav nav-masthead justify-content-center">
                  <a class="nav-link active" href="/">Home</a>
                  <a class="nav-link" href="/reserve">reserve</a>
                  <a class="nav-link" href="/tables">tables</a>
                </nav>
              </div>
            </header>
      
            <main role="main" class="inner cover">
              <h1 class="cover-heading">Welcome to No Table</h1>
              <p class="lead">Its all about tables. Tables you'll never sit at!</p>
              <br>
              <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary"><i class="fas fa-utensils"></i> &nbsp;&nbsp;Learn more</a>
              </p>
            </main>
      
            <footer class="mastfoot mt-auto">
              <div class="inner">
                <p>No tables. <a href="https://github.com/dimstar/notable"><i class="fab fa-github"></i></a> by <a href="mailto:kyle@dimstar.io">kyle@dimstar.io</a>.</p>
              </div>
            </footer>
          </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="dimstar/js/scripts.js" ></script>
  </body>
</html>